{% extends 'base.html' %}
{% block content %}

<div class="content">

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table table-hover">
                        <thead>
                        <tr style="color:#0eb05c">
                            <th>Solicitud</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>{{ Solicitud.name }}</td>
                            <td>{{ Solicitud.email }}</td>
                            <td>{{ Solicitud.phone }}</td>
                            <td>{{ Solicitud.id_number }}</td>
                            <td>{{ Solicitud.address }}</td>
                            <td>{{ Solicitud.city }}</td>
                            <td>{{ Solicitud.state }}</td>
                            <td>{{ Solicitud.zip_code }}</td>
                            <td>{{ Solicitud.country }}</td>
                        </tr>

                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/solicitudes' ">
                            Back
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
